Data Mining 2/assignment/data/df_train_sample_00_of_20.csv
Data Mining 2/assignment/data/df_train_sample_01_of_20.csv
Data Mining 2/assignment/data/df_train_sample_02_of_20.csv
Data Mining 2/assignment/data/df_train_sample_03_of_20.csv
Data Mining 2/assignment/data/df_train_sample_04_of_20.csv
Data Mining 2/assignment/data/df_train_sample_05_of_20.csv
Data Mining 2/assignment/data/df_train_sample_06_of_20.csv
Data Mining 2/assignment/data/df_train_sample_07_of_20.csv
Data Mining 2/assignment/data/df_train_sample_08_of_20.csv
Data Mining 2/assignment/data/df_train_sample_09_of_20.csv
Data Mining 2/assignment/data/df_train_sample_10_of_20.csv
Data Mining 2/assignment/data/df_train_sample_11_of_20.csv
Data Mining 2/assignment/data/df_train_sample_12_of_20.csv
Data Mining 2/assignment/data/df_train_sample_13_of_20.csv
Data Mining 2/assignment/data/df_train_sample_14_of_20.csv
Data Mining 2/assignment/data/df_train_sample_15_of_20.csv
Data Mining 2/assignment/data/df_train_sample_16_of_20.csv
Data Mining 2/assignment/data/df_train_sample_17_of_20.csv
Data Mining 2/assignment/data/df_train_sample_18_of_20.csv
Data Mining 2/assignment/data/df_train_sample_19_of_20.csv
Data Mining 2/assignment/src/Facility_type1q2013_tab.zip
Data Mining 2/assignment/src/Facility_type2q2013_tab.zip
Data Mining 2/assignment/src/Facility_type3q2013_tab.zip
Data Mining 2/assignment/src/Facility_type4q2013_tab.zip
Data Mining 2/assignment/src/train.csv.gz
